#pCadastro {
    display: flex;
}

#conteudoLogin {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(49, 49, 49);
}

.acesso {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btnsAcesso {
    width: 80%;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: rgb(66, 66, 66);
}

.botoes {
    width: 50%;
    height: 100%;
    border: none;
    color: beige;
    font-size: 12pt;
    background-color: rgb(35, 177, 97);
}

.cadastro {
    border-radius: 0 3px 3px 0;
}

.login {
    border-radius: 3px 0 0 3px;
}

.botoes:hover {
    text-shadow: 0 0 3px white;
    cursor: pointer;
}

.divisao {
    width: 90%;
    margin: 10px 0;
    border: rgb(35, 177, 97) 1px solid;
    border-radius: 200%;
}

.conteudoAcesso {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.conteudoAcesso h2 {
    text-align: center;
    font-size: 24pt;
    color: rgb(35, 177, 97);
}

.conteudoAcesso label {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(35, 177, 97);
}

.conteudoAcesso input {
    height: 30px;
    padding-left: 10px;
    border: rgb(35, 177, 97) 2px solid;
    border-radius: 5px;
    background-color: transparent;
}

.conteudoAcesso a {
    margin-top: 5px;
    text-align: end;
    color: rgb(35, 177, 97);
}

.acessarPagina {
    height: 40px;
    margin-top: 30px;
    border: none;
    border-radius: 0 0 10px 10px;
    font-size: 18pt;
    color: beige;
    background-color: rgb(35, 177, 97);
}

.acessarPagina:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}